.gradient {
  background-image: linear-gradient(to right, rgb(30,30,30) , red);
  padding: 0 32px;
}

thead {
  background-color: rgb(138, 15, 15);
}

.border-series.col {
  padding:0;
}

.border-series {
  border-right: 1px solid rgb(138, 15, 15);
  border-left: 1px solid rgb(138, 15, 15);
}

.ant-carousel {
  width: 100%;
}

.carousel-row{
  border:2px solid rgb(138, 15, 15);
  font-size: 0.9rem;
}

@media only screen and (max-width: 510px) {
  .center-float {
      display: none;
  }
}

.center-float {
  position: absolute;
  height: 100%;
  right: 5%;
  top: 30%;
}

.float{
  float: left;
  width: 49%;
}

.float>.row {
  border: 2px solid rgb(138, 15, 15);
  padding: 0;
}

.float>.row> * {
  padding: 0;
}

.footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.col-sm-12 {
  padding:0;
}

.card-border {
  border: 2px solid rgb(138, 15, 15);
  margin-bottom: 24px;
}

.seriesGame {
  width: 101%;
  overflow: hidden;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
}

.left {
  left: 0;
}

.right {
  right:0;
}

tr>td {
  padding: 8px 0;
}

@media screen and (min-width: 769px) {
  .navbar {
    float: right;
  }
  .ant-menu-item {
    font-size: 16px;
  }
}

@media screen and (min-width: 850px) {
  .ant-menu-item {
    font-size: 20px;
  }
}

.circle-img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-100px;
}

.player-info {
  text-align: center;
  font-size: 32px;
  padding: 0 0 12px;
}

.ant-table-row-expand-icon {
  color: rgb(138, 15, 15) !important;
}

.date-font {
  font-size:16px;
}

.three-stars-border {
  border: 1px solid rgb(138, 15, 15);
}

.ant-card-meta-description {
  padding-bottom: 24px;
}

.ant-carousel .slick-dots-bottom {
  bottom: -20px !important;
  padding: 0px;
}

.ant-col {
  width: 100%;
}

.ant-alert-message {
  color: #000 !important
}

.ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner, .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner {
  color: black
}

.ant-form-item-explain {
  margin-top: -4px !important;
}

.ant-table-tbody > tr :hover {
  cursor: pointer;
}

.ant-list-item :hover {
  cursor: pointer;
  background-color: red;
  color: black;
}

.ant-message-notice-content {
  color:black
}